body {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
}

.pane {
  height: 50vh;
  display: flex;
}

.top-pane {
  justify-content: space-around;
}

.file-explorer {
  display: flex;
  flex-direction: column;
}

.editor {
  flex-grow: 1;
}

.CodeMirror {
  width: 80vw;
}
