body {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
}

.pane {
  height: 50vh;
  display: flex;
}

.top-pane {
  justify-content: space-around;
  background-color: rgb(88, 88, 88);
}

.file-explorer {
  display: flex;
  flex-direction: column;
}

.editor {
  flex-grow: 1;
}

.CodeMirror {
  width: 80vw;
}

.editor-container {
  padding: 0.5rem;
}

.title {
  display: flex;
  justify-content: space-between;
  background-color: rgb(34, 34, 34);
  color: white;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}

.code-mirror-wrapper {
  flex-grow: 1;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
